
#currency-area{
    margin: 5% 20%;
    border: 2px solid black;
    border-radius: 30px;
    padding:30px;
    padding-top: 0;
    text-align: center;
}

.label{
    display: inline-block;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 45px;
    width: 300px;
    text-align: right;
    padding: 0 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: default;
}

h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    cursor: default;
}

.button{
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.form{
    width:150px;
    height: 48px;
    border-radius: 10px;
    position: relative;
    bottom: 4px;
    font-weight: bold;
    font-size: 18px;
}